# Carpetas y archivos generados por Python
__pycache__/
*.pyc
*.pyo

# Bases de datos y archivos locales
*.db
ultima_ruta.json

# Archivos temporales de Excel
*.xlsx
*.xlsm
~$*.xlsx

# Ejecutables
*.exe

# Entornos virtuales
.venv/
env/
venv/

# Configuración de IntelliJ IDEA / PyCharm
.idea/
*.iml

# Archivos de sistema
.DS_Store
Thumbs.db
